<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.example.org/adfg"
            class="editor.adfg.AdfgPackage"
            genModel="model/adfg.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated adfg -->
      <package
            uri="http://www.example.org/adfg"
            class="adfg.AdfgPackage"
            genModel="model/adfg.genmodel"/>
   </extension>

</plugin>
